{{ define "main" }}
  <article class="post">
    <header class="post-header">
      <h1 class ="post-title">{{ .Title }}</h1>
      <div class="post-meta">
        <div>
          {{ partial "icon.html" (dict "ctx" $ "name" "calendar") }}
          {{ .PublishDate.Format "Jan 2, 2006" }}
        </div>
        <div>
          {{ partial "icon.html" (dict "ctx" $ "name" "clock") }}
          {{ .ReadingTime }} min read
        </div>
        {{- with .Params.tags -}}
        <div>
          {{ partial "icon.html" (dict "ctx" $ "name" "tag") }}
          {{ range . -}}
            {{- with $.Site.GetPage (printf "/%s/%s" "tags" . ) -}}
              <a class="tag" href="{{ .Permalink }}">{{ .Title }}</a>
            {{- end -}}
          {{- end -}}
        </div>
        {{- end -}}
      </div>
    </header>
    <div class="post-content">
      {{ .Content }}
      <section>
	  <script>talkyardServerUrl='{{ .Site.Params.talkyardServerUrl }}';</script>
<script async defer src="{{ .Site.Params.talkyardScriptUrl }}"></script>
<!-- You can specify a per page discussion id on the next line, if your URLs might change. -->
<div class="talkyard-comments" data-discussion-id="{{ .Params.discussionId }}" style="margin-top: 45px;">
<noscript>Please enable Javascript to view comments.</noscript>
<p style="margin-top: 25px; opacity: 0.9; font-size: 96%">Comments powered by
<a href="https://www.talkyard.io">Talkyard</a>.</p>
</section>
    </div>
    <div class="post-footer">
      {{ template "_internal/disqus.html" . }}
    </div>
  </article>
{{ end }}
